
div {
	text-decoration: none;
}

.header_main {
	background-color: #fc4445;
	color: white;
	text-decoration: none;
}

.header_main:hover {
	background-color: #fc2b2c;
	text-decoration: none;
	color: gray;
}

a {
	color: white;
	text-decoration: none;
}

table, th, td
{
	    border:  solid #fc4445;
}
