/*#627c83= submenu
#738e96= standard background
#9ebaa0= choosen
#aa9d88= Hints */
html {
	position: relative;
	min-height: 100%;
	text-decoration: none;
	line-height: 0.2vw;
}
div {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}
.header_main {
	background-color: #fc4445;
	color:white;
	text-align:center;
	border-top-style:solid;
	border-bottom-style:solid;
	border-bottom-width:0.3vw;
	border-top-width:0.3vw;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
	border: 3vw;
	border-radius: 0.3vw;
	text-decoration: none;
}

.header_main:hover {
	background-color: #fc2b2c;
	text-decoration: none;
	color: gray;
}

/* button should be centered and not at the left */
.button {
	background-color: #FC4445;
	color:white;
	text-decoration: none;
	text-align:center;
	border-top-style:solid;
	border-bottom-style:solid;
	margin-bottom:0px;
	margin-top:0.3vw;
	border-bottom-width:0.3vw;
	border-top-width: 0.2vw;
	display: inline-block;
	width: 49.1vw;
}

.button:visited	{
	color: white;
  text-decoration:none;
}

.button:hover	{
	background-color:#738e96;
	color: white;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #FC4445;
	color:white;
	width: 100vw;
	overflow: hidden;
	text-decoration:none;
	color: white;
}

table, th, td
{
	    border:  solid #fc4445;
}
