{% extends "base.html" %}
{% block app_content %}
<p>
  Das Projekt wird von mir, Chaostheorie, alleine entwickelt.
  <a href="http://github.com/Chaostheorie">
    <img
    src="static/Chaostheorie_small.jpeg"
    alt="Github Profile Picture"
    class="img-thumbnail rounded float-right">
  </a>
  Alle Projektdaten sind bis auf Autentifizierungsdaten wie Nutzernamen und
  Passwörter sind Opensource und sind auf Github
  <a href="http://github.com/Chaostheorie/Lecrox">Hier</a> Verfügbar.<br>
  Das Projekt qird auf flask mit Python 3 betrieben. Für Probleme und Anregungen
  für Verbesserungen und Erweiterungen oder beim Melden
  von Problemen könnt ihr bei Anregungen mich über Github erstellen und im Falle
  eines Problems ein Issue auf der <a href="http://github.com/Chaostheorie/Lecrox">
  Github-Seite </a>erstellen. Ich beterieb das Projekt nicht kommerziell. Bei
  Probelemen anderer Art oder Fragen wende dich über Github an mich.<br>
  Für das Einreichen eigener Pläne oder Erweiterungen bin ich ebenfalls über
  Github erreichbar.
{% endblock %}
