<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Start</title>
  </head>
  <body>
    <header>
      <h2>Lecrox</h2>
    </header>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.select) }}
        <p>
        {{ render_field(form.search) }}
      </dl>
      <p><input type=submit value=Search>
    </form>
    <footer>
    <a href="{{ url_for('.new_snippet') }}"> New Snippet </a></footer>
  </body>
</html>
