{% extends "base.html" %}
{% block app_content %}
<p>
  Die "Bibel Pläne" sind Pläne die helfen sollen Anschluss zum Glauben mit dem
  Lesen der Bibel zu finden. hierbei wird auf Einsetzung von themenbasierten
  Zusammenstellungen von verschiedensten Bibel Auschnitten oder zum Beispiel
  Psalmen zu setzten.<br>
  Das Ziel ist der Anschluss zum Glauben und zur Selbstfindung in Problemphasen
  des Lebens oder der Selbstfindung. Alle "Pläne" sind selbstzusammengestellt
  und halten sich nicht an die altbekannte Idee einess Plans um stumpf nur in
  das Bibellesen mit dem Ziel des systematischen durchlesens verschiedener
  Bücher der Bibel.<br>
  Bei Nachfragen, Anregungen oder dem einreichen eigener Pläne wenden sie sich
  an <a href="/about-me">Chaostheorie</a>.
</p>
{% endblock %}
