{% extends "base.html" %}
{% block app_content %}
Die Bibelausschnittesammlung ist dazu da verwendet zu werden und ist nicht
lizensiert. Die Auschnitte stammen meistens aus der Bibel und sind in vielen
Fällen aus der Einheits+bersetzung. Ich übernehme <strong>keine Haftng</strong>
für die weitere Verwendung und deren Folgen. Die Bibelpläne bezeiehen alle Texte
aus dieser Datenbank. Viel Spaß bei der Verwendung.<br> Wer eigene Ausschnitte
einstellen möchte kann mich auf <a href="https://github.com/Chaostheorie">
Github</a> ereichen. <br>In der Sammlung können auch vereinzelnt Kurzgeschichten
oder ganze Texte enthalten sein.
{% endblock %}
